---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: logbook-app-chaincode
  labels:
    app: logbook-app-chaincode
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logbook-app-chaincode
  template:
    metadata:
      labels:
        app: logbook-app-chaincode
    spec:
      containers:
        - name: logbook-app-chaincode
          image: scrayorg/logbook-app-chaincode:1.0
          imagePullPolicy: Never
          workingDir: /usr/local/lib/chaincode/
          env:
          - name: FABRIC_LOGGING_SPEC
            value: "DEBUG"
          - name: CHAINCODE_ID
            valueFrom:
              configMapKeyRef:
                name: invoice-chaincode-external
                key: chaincode_id
          - name: CHAINCODE_SERVER_ADDRESS
            value: "0.0.0.0:9999"
          command: [ "/bin/sh" ]
          args: [ "-c", "[ ! -z \"$DEV_USER_PW\" ] && echo \"DEV_USER_PW variable found. Set dev user password\" && echo dev:$DEV_USER_PW | chpasswd; chaincode-external; tail -f /dev/null " ]
